body{
  display: flex;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(214, 215, 218);
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: max-content;
}

header{
  background-color: aqua;
}

#left{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255);  
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 30px 45px;
}

.search img{
    width: 17px;
    height: 17px;
}
#right{
 display: flex;
  flex-direction: column;
  flex: 3 1 auto;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 248);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 30px 45px;
}

#days{
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 auto;

}

.day{
  display: flex;
  margin: 10px;
  border: 2px solid black;
  padding: 10px;

}
#Highlights1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#Highlights2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.highlights{
  display:flex;
  margin: 10px;
  border: 2px solid black;
  padding: 50px;

}

.container{
  display: flex;
  position: relative; 
}

.container img{
  width: 70%;
  height: 70%;
  padding: 10px;
  border-radius: 30px;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header-right{
  display: flex;
  justify-content: space-between;
align-items: center;
  flex-wrap: wrap;
}

#user img{
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
