@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');



body{
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(214, 215, 218);
  box-sizing: border-box;
  font-size: 13px;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  
}

header{
  background-color: aqua;
}

#left{
  display: flex;
  flex-direction: column;
  width:15%;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255);  
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 30px 45px;
}

.search img{
    width: 15px;
    height: 15px;
    float: left;
    vertical-align: middle;
    padding: 5px 0;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    border: none; 
    font-weight: 700; 
    height: 20px; 
    padding-left: 5px;
    margin-left: 2%;
  }


.character {
    list-style-type: none;
    background-color: #eaeaea;
    padding: 10px 20px;
    display: grid;
    
    text-align: left;
}

#cityList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  height: auto;
}

#citys {
  margin-top: 10px;
}

.descClima {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 500;  
  }

  .text-center {
      text-align: center;
  }

  .text-left {
    text-align: left;
}

.color-gris {color:rgb(214 215 218 / 97%);}

  .font-4em {font-size: 4em;}
  .font-3em {font-size: 3em;}
  .font-35em {font-size: 3.5em;}
  .font-2em {font-size: 2em;}
  .font-25em {font-size: 2.5em;}
  .font-1em {font-size: 1em;}
  .font-15em {font-size: 1.5em;}

#cityList li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}


#cityList li {
  padding-left: 10px;
  padding: 6px 9px;
}

#cityList li:hover{background:rgb(214 215 218);}


#right{
 display: flex;
  flex-direction: column;
  width: 65%;
  flex: 1 1 auto;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 248);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 30px 45px;
}

#days{
 display: flex;
  
  flex-wrap: wrap;
 /* flex: 2 1 auto;*/
}

.day{

  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px 10px;
  background-color: #ffff;  
}

#Highlights1{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

#Highlights2{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
 
}

 .highlights {
    width: 25%;
    height: auto;

    margin: 10px;
    border-radius: 15px 15px;
    background-color: #ffff;
    padding: 10px 20px;
    height: 200px;

}

h2 {margin-top: 0px;}

.details{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.details img {
  margin-left: 5px;
  padding: 5px;
  width: 25px;
  height: 25px; 
}
.container{
  display: flex;
  position: relative; 
}


.container img{
  object-fit: cover;
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 30px;
}


.grados, .fecha {
    font-size: 4em; 
    font-weight: 400;
  }
.fecha {font-size: 1.5em;}

.today {
    border-bottom: 1px solid rgb(214 215 218 / 97%);
    text-align: center;
}

.margen-top30 {
    margin-top: 30px;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffff;
  transform: translate(-50%, -50%);
}

#header-right{
  display: flex;
  justify-content: space-between;
align-items: center;
  flex-wrap: wrap;
}

#user img{
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

#weat{
  display: flex;
  flex-direction: row;
  align-items: center;  
}

#weat img{
  width: 25px;
  height: 25px;
}

#sunrs img{
  width: 20%;
  height: 20%;
}

.display-none {display: none;}



@media only screen and (min-device-width: 320px) and (max-device-width: 580px) {
 
  main {
    display: block;
    flex-direction: unset;
    width: unset;
    
    }
  body {
    flex-direction: column;
  }
  #left {
    display: block;
    width: unset;
    flex-direction: unset;
    border-bottom-left-radius:unset;

  }
  #right {
    display: block;
    width: unset;
    flex-direction: unset;
    border-top-right-radius: unset;

  }  

  #Highlights1 {
    flex-direction: column;
  }

  #Highlights1 .highlights {
    width: unset;
  }

  #Highlights2 {
    flex-direction: column;
  }

  #Highlights2 .highlights {
    width: unset;
  }  
}


/* Smartphones (landscape) */
@media only screen and (min-width: 321px) {
}

@media (min-width: 1024px) and (max-width: 1920px) {

}

@media (min-width: 1368px) {

}

@media (min-width: 374px) and (max-width: 860px) {
  
  
  }

.mains{
  width: max-content;
}